.vscode/
Dijkstra/CPP/build/
Dijkstra/.vscode/
Dijkstra/Python/*.png
Dijkstra/Python/__pycache__/
Dijkstra/Python/*.mp4
Dijkstra/Python/*.gif
Dijkstra/Matlab/d.m
Dijkstra/Matlab/*.png
Dijkstra/Matlab/*.asv
BFS/
DFS/
GBFS/
Floyd/
A_Star/Python/*.png
A_Star/Python/*.gif
A_Star/Python/__pycache__/
A_Star/CPP/build/
A_Star/Matlab/
JPS/build/
JPS/Python/*.png
JPS/Python/*.gif
JPS/Python/__pycache__